<header>
    <section id="top" class="jumbotron4 jumbotron-fluid w-100">    
    </section>
</header>

<div id="title" class="text-center">Edycja komentarza</div>

<div class="container">
  <section id="section-body">

    <%= form_for([@commentable, @comment]) do |f| %>
      <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
              <% @comment.errors.each do |error| %>
              <li><%= error.full_message %></li>
              <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <h4 class="fw-normal"><%= f.label :commenter, "Autor" %></h4>
        <p class="shadow-sm fs-3 text-center bg-white"><%= @comment.commenter %></p>
      </div>
      <div class="field">
        <h4 class="fw-normal"><%= f.label :body, "Komentarz" %></h4>
        <%= f.text_field :body, class:'shadow-sm' %>
      </div>
      <div class="actions">
        <%= f.submit "Zaktualizuj", class:'btn link color-theme' %>
      </div>
    <% end %>

    <button type="button" class="btn color-theme m-2 ms-0"><%= link_to 'Wyświetl', polymorphic_path([@commentable, @comment]), :class => 'text-decoration-none text-reset' %></button>
    <button type="button" class="btn color-theme m-2 ms-0"><%= link_to 'Cofnij', [@commentable, :comments], :class => 'text-decoration-none text-reset' %></button>
  </section>
</div>
