<header>
    <section id="top" class="jumbotron4 jumbotron-fluid w-100">    
    </section>
</header>

<div id="title" class="text-center">Komentarze</div>

<div class="container">
  <section id="section-comments">
    <div class="table-responsive">
      <table id="tabela_komentarzy" class="table table-hover ">
        <thead>
          <tr style="background-color: #4080bf; color:beige">
            <th scope="col" class="text-center align-middle">Autor</th>
            <th scope="col" class="text-center align-middle">Komentarz</th>
            <th scope="col" class="text-center align-middle">Data utworzenia</th>
            <th acope="col"></th>
            <th acope="col"></th>
            <th acope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% for comment in @comments %>      
            <tr>
              <td style="font-weight:500"><%=h comment.commenter %></td>
              <td><%=h comment.body %></td>
              <td class="text-center"><%=h comment.created_at.to_date %></td>
              <td class="text-center"><%= link_to 'Wyświetl', polymorphic_path([@commentable, comment]), :class => 'text-reset' %></td>
              <% if (user_signed_in?) && (comment.commenter == "#{current_user.name} #{current_user.surname}") %>
                <td class="text-center"><%= link_to 'Edytuj', polymorphic_url([:edit, @commentable, comment]), :class => 'text-reset' %></td>
                <td class="text-center"><%= link_to 'Usuń', polymorphic_url([@commentable, comment], :method => :destroy), :confirm => 'Czy jesteś pewien?', :method => :delete, :class => 'text-reset' %></td>
              <% else %>
                <td></td>
                <td></td>
              <% end %>
            </tr>     
          <% end %>
        </tbody>
      </table>
    </div>

    <button type="button" class="btn color-theme m-2 ms-0"><%= link_to 'Nowy komentarz', [:new, @commentable, :comment], :class => 'text-decoration-none text-reset' %></button>
    <button type="button" class="btn color-theme m-2 ms-0"><%= link_to 'Cofnij', @commentable, :class => 'text-decoration-none text-reset' %></button>
  </section>
</div>


<script>
   $(document).ready(function() {
      $('#tabela_komentarzy').DataTable({
         "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Polish.json"
         }
      });
   });
</script>