<header>
    <section id="top" class="jumbotron3 jumbotron-fluid w-100">   
    </section>
</header>

<div class="container">
  <section id="section-body">
    <h1 class="text-center display-4 mb-3">
      <%= @resolution.titleR %>
    </h1>

    <p>
      <%= @resolution.contentR %>
    </p>

    <p class="text-end mb-1">
      Data utworzenia: <%= @resolution.created_at.to_date %>
    </p>

    <% if @resolution.updated_at? %>
      <p class="text-end">
        Data ostatniej aktualizacji: <%= @resolution.updated_at.to_date %>
      </p>
    <% end %>

  </section>
  <section id="section-voting">
    <div id="voting" class="text-center mb-3">
      <% if (@resolution.votable?) && (current_user.part != 0) %>
        <button type="button" class="btn color-theme m-2 ms-0">  
          <i class="fas fa-thumbs-up"></i>
          <%= link_to like_resolution_path(@resolution), :class => 'text-decoration-none text-reset', method: :put do %>
            Tak
            <%= @resolution.get_upvotes.size %>
          <% end %>
        </button>

        <button type="button" class="btn color-theme m-2 ms-0"> 
          <i class="fas fa-thumbs-down"></i>
          <%= link_to unlike_resolution_path(@resolution), :class => 'text-decoration-none text-reset', method: :put do %>
            Nie
            <%= @resolution.get_downvotes.size %>
          <% end %>
        </button>
      <% elsif (@resolution.votable?) && (current_user.part == 0)%>
        <button type="button" class="btn color-theme m-2 ms-0 unactive">
          <i class="fas fa-thumbs-up"></i>
          Tak
          <%= @resolution.get_upvotes.size %>
        </button>
        <button type="button" class="btn color-theme m-2 ms-0 unactive"> 
          <i class="fas fa-thumbs-down"></i>
          Nie
          <%= @resolution.get_downvotes.size %>
        </button> 
        
      <% else %>
        <button type="button" class="btn color-theme m-2 ms-0 unactive">
          <i class="fas fa-thumbs-up"></i>
          Tak
          <%= @resolution.get_upvotes.size %>
        </button>
        <button type="button" class="btn color-theme m-2 ms-0 unactive"> 
          <i class="fas fa-thumbs-down"></i>
          Nie
          <%= @resolution.get_downvotes.size %>
        </button><br/>
        <span id="glos">Głosowanie zakończone. Dziękujemy za oddane głosy.</span>
      <% end %>
    </div>

    
    <div class="table-responsive">
      <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="text-center">Imie</th>
          <th scope="col" class="text-center">Nazwisko</th>
          <th scope="col" class="text-center">Udział w nieruchomości</th>
          <th scope="col" class="text-center">Głos</th>
        </tr>
      </thead>

      <tbody>
        <% @resolution.votes_for.voters.each do |voter| %>
          <tr>
            <td class="text-center"><%= voter.name %></td>
            <td class="text-center"><%= voter.surname %></td>
            <td class="text-center"><%= voter.part.to_i %>/30000</td>
            <td class="text-center"><%= if voter.voted_up_on? @resolution then "TAK" else "NIE" end %></td>  
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
    <p class="mb-1 fw-bold text-center">Ilość osób, które zagłosowały na TAK: <%= @resolution.get_upvotes.size %>, z udziałem w nieruchomości: <%= @resolution.get_upvotes(@resolution).sum(:vote_weight).to_i%>/30000</p>
    <p class="fw-bold text-center">Ilość osób, które zagłosowały na NIE: <%= @resolution.get_downvotes.size %>, z udziałem w nieruchomości: <%= @resolution.get_downvotes(@resolution).sum(:vote_weight).to_i%>/30000</p>
  </section>

  <section id="section-comments">
    <h2 class="mb-3">Komentarze</h2>
    <% @resolution.comments.each do |c| %>
      <div class="card shadow-sm mb-2 flex-row">
        <span class="ikona"><i class="fas fa-user fa-2x align-middle"></i></span>
        <div class="card-body ps-0">
          
          <span>
            <h5 class="card-title">
              <span><%=h c.commenter %><span> &nbsp <span class="fw-normal" style="font-size:11px"><%=h c.created_at.to_date %></span>
            </h5>

            <p class="card-text">
              <%=h c.body %>
            </p>
          </span>
        </div>
      </div>
    <% end %>

    <% if (user_signed_in?) && (current_user.email == "admin@ruby.pl") %>
      <button type="button" class="btn color-theme m-2 ms-0"><%= link_to 'Edytuj uchwałę', edit_resolution_path(@resolution), :class => 'text-decoration-none text-reset' %></button>
    <% end %>
    <button type="button" class="btn color-theme m-2 ms-0"><%= link_to 'Cofnij do uchwał', resolutions_path, :class => 'text-decoration-none text-reset' %></button>
    <button type="button" class="btn color-theme m-2 ms-0"><%= link_to 'Sekcja komentarzy', resolution_comments_path(@resolution), :class => 'text-decoration-none text-reset' %></button>
    <button type="button" class="btn color-theme m-2 ms-0 mt-0 d-flex"><%= link_to "Strona głowna", home_index_path, :class => 'text-decoration-none text-reset' %></button>

  </section>
</div>
